@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #fdf8fc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf8fc;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, "Felipa", sans-serif;
}
